<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <h2>Change Password</h2>

    <form th:action="@{/change-password}" method="post">
        <input type="password" name="newPassword" placeholder="Enter new password" required>
        <button type="submit">Update Password</button>
    </form>

    <p th:text="${error}" class="error"></p>
    <p th:text="${success}" class="success"></p>
</div>

</body>
</html>
